.button-container {
    padding: 12px 0px
}

.button {
    cursor: pointer;
    border: $text solid 1px;
    padding: 9px 18px;
    background-color: $background-1;
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: 1.2px;

    &:hover {
        color: $background-1;
        background-color: $hover;
        border: $background-1 solid 1px;
    }
}