.content {
    position: relative;
    width: 100%;
    margin: 0 50px;

    &--section {
        padding-top: 54px;
    }

    &--edu {
        &-title {
            color: $brand-1;
            font-weight: 600;
        }
        &-primary {
            flex: .5;
        }
        &-secondary {
            flex: .5;
        }
        &-description-bold {
            font-weight: 700;
        }
    }

    &--project {
        margin: 35px 0;

        &-primary {
            flex: .4;
        }
        &-text {
            display: flex;
        }
        &-description {
            flex: .6;
        }
        &-header {
            color: $brand-2;
            font-weight: 600;
        }
    }

    &--roles {
        &-role {
            display: flex;
            margin: 35px 0;
        }
        &-title {
            color: $brand-3;
            font-weight: 600;
        }
        &-primary {
            flex: .5;
        }
        &-secondary {
            flex: .5;
        }
        &-skills {
            margin-top: 8px;
        }
        &-bold {
            font-family: open-sans,sans-serif;
            font-weight: 700;
            font-style: normal;
        }
    }
}

.icons-row {
    padding: 22px 0;

    svg {
        width: 32px;
        height: auto;
    }
}

// Standard Width
@media only screen and (min-width: 1057px) and (max-width: 1800px) {
    .content {
        position: relative;
        width: 100%;
        margin: 0 50px;

        &--edu {
            display: flex;
            &-primary {
                margin-right: 12px;
            }
            &-description {
                font-size: 20px;
                margin: 20px 0;
            }
        }

        &--project {
            &-images {
                display: flex;
                width: 100%;
            }
            &-primary {
                flex: .4;
            }
            &-description {
                flex: .6;
            }
        }
    }
}

// Mobile or Large Screen
@media only screen and (max-width: 1056px), (min-width: 1800px) {
    .content {
        position: relative;
        width: auto;
        margin: 0 50px;

        &--edu {
            display: flex;
            &-primary {
                margin-right: 12px;
            }
            &-description {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }

        &--roles {
            &-primary {
                margin-right: 12px;
            }
        }

        &--project {
            &-primary {
                margin-right: 12px;
            }
            &-images {
                display: flex;
            }
        }
    }
}

// Mobile only
@media only screen and (max-width: 672px) {
    .content {
        &--edu {
            display: block;
            &-primary {
                margin-bottom: 20px;
            }
        }

        &--project {
            &-text {
                display: block;
            }
            &-images {
                display: none;
            }
        }

        &--roles {
            &-role {
                display: block;
            }
            &-primary {
                margin-bottom: 12px;
            }
            &-images {
                display: none;
            }
        }
    }
}

// Large Screen only
@media only screen and (min-width: 1800px) {
    .content {
        position: relative;
        width: auto;
        margin: 0 50px;

        &--edu {
            display: flex;
            &-primary {
                margin-right: 12px;
            }
            &-description {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }

        &--roles {
            &-primary {
                margin-right: 12px;
            }
        }

        &--project {
            &-primary {
                margin-right: 12px;
            }
            &-images {
                display: flex;
            }
        }
    }
}

// Mobile only
@media only screen and (min-width: 1800px) {
    .content {
        &--edu {
            &-primary {
                flex: .3;
            }
            &-secondary {
                flex: .7;
            }
        }
        &--project {
            &-images {
                display: flex;
                width: 100%;
            }
            &-primary {
                flex: .3;
            }
            &-description {
                flex: .7;
            }
        }
        &--roles {
            &-primary {
                flex: .3;
            }
            &-secondary {
                flex: .7;
            }
        }
    }
}