.imageDisplay {
    margin: 22px 32px 22px 0px;
    text-align: center;

    &--img-container {
        width: 320px;
        height: 150px;
    }
    
    &--description {
        margin-top: 12px;
    }

    img {
        height: inherit;
    }
}