.stickyNav {
    &--title-secondary {
        font-size: 24px;
        font-weight: 200;
        margin: 12px 0px;
        font-style: italic;
    }

    &--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 6em;
    }

    &--name {
        display: flex;
        justify-content: center;

        &-L {
            color: $brand-1;
        }
        &-I {
            color: $brand-2;
        }
        &-Z {
            color: $brand-3;
        }
    }

    &--icons {
        padding: 3em 0em;
        display: flex;
    }

    &--tab {
        cursor: pointer;
        &.edu:hover {
            color: $brand-1;
        }
        &.projects:hover {
            color: $brand-2;
        }
        &.roles:hover {
            color: $brand-3;
        }
    }

    &--resume {
        margin-top: 160px;
    }
}

.vertical-line {
    width: 100%;
    height: 1px;
    background-color: $text;
}

// Standard Width
@media only screen and (min-width: 1056px), (max-width: 1800px) {
    .stickyNav {
        height: 100%;
        width: auto;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        position: sticky;
        background-color: $background-1;
        box-shadow: 4px 3px 6px $background-2;
    }
}

// Mobile or Large Screen
@media only screen and (max-width: 1056px), (min-width: 1800px) {
    .stickyNav {
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: relative;
        background-color: $background-1;
    }
}

// Mobile only
@media only screen and (max-width: 672px) {
    .stickyNav {
        &--title-secondary {
            font-size: 18px;
        }
    }
}