.user-interface {
    position: relative;
    width: 100%;
    margin: 0 50px;
    padding-top: 54px;
}

.img-display {
    margin: 12px 0px;
}

.contents {
    margin: 12px;
}

.screen-descriptions {
    display: flex;
    align-items: center;
    margin: 12px 0px;
}

.description {
    margin-left: 12px;
}