@import './utlities/_variables';
@import './components/stickyNav.scss';
@import './components/content.scss';
@import './components/button.scss';
@import './components/imageDisplay.scss';

body {
    color: $text;
    font-family: open-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('../assets/background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.App {
    display: flex;
}

h1 {
    font-family: filicudi-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    margin: 0;
}

h2 {
    font-family: filicudi-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin: 0;
}

h3 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin: 0;
}

h4 {
    font-family: 'Open Sans';
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    margin: 0;
}

p {
    font-family: 'Open Sans Light';
    margin: 0;
}

a {
    text-decoration: none;
    color: $hyperlink;
}

.icons {
    width: 40%;
    margin: 0px 4px;
    &:hover {
        cursor: pointer;
        svg {
            fill: $hyperlink;
        }
        &.figma {
            path {
                stroke: $hyperlink;
            }
        }
    }
    &.figma {
        svg {
            width: 22px;
        }
    }
}